* {
    margin: 0%;
    padding: 0%;
    font-family: cursive;
}

/*WELCOME*/

.welcome {
    /* display: none; */
    overflow: hidden;
    height: 100vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.enter {
    width: 100%;
    height: 100%;
    margin-top: 25%;
}

.enter a {
    margin-top: 50%;
    color: white;
    background-color: black;
    font-size: 40px;
    padding: 3%;
    text-decoration: none;
    border: 1rem solid rgb(92, 118, 79);
    border-radius: 35%;
}

/* 1st Page */

.I {
    color: white;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.I-content {
    text-align: center;
    margin: 10% 25%;
    height: 50%;
    width: 50%;
}

.I-content h1 {
    font-size: 4rem;
    margin-bottom: 1%;
}

.I-content h2 {
    font-size: 3rem;
    margin-bottom: 1%;
}

.I-content h3 {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.I-content a {
    font-size: 1rem;
    color: white;
    padding: 2%;
    background-color: rgb(125, 21, 80);
    border: 3px solid white;
    text-decoration: none;
    border-radius: 15px;
}

/* 2nd page */

.II {
    display: none;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.II-content {
    text-align: center;
    height: 100%;
    width: 100%;
}

.II-content h1 {
    font-size: 4rem;
    margin-top: 2%;
    margin-bottom: 5%;
}

.II-content h2 {
    font-size: 3rem;
    margin-bottom: 10%;
}

.II-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.II-content a {
    margin: 0 7rem;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    padding: 3% 6%;
    background-color: rgb(0, 0, 0);
    border: .3rem solid rgb(255, 2, 2);
    text-decoration: none;
    border-radius: 15%;
}

/* combination buttons work*/

.combination-button-left {
    color: white;
    display: none;
    height: 100%;
    width: 33.33%;
    background-color: black;
    position: fixed;
    text-align: center;
    padding: 15% 0%;
    font-size: 15rem;
}

.combination-button-right {
    color: white;
    display: none;
    right: 0%;
    height: 100%;
    width: 33.33%;
    background-color: black;
    position: fixed;
    text-align: center;
    padding: 15% 0%;
    font-size: 15rem;
}

.combination-button-middle {
    color: white;
    display: none;
    right: 33.33%;
    height: 100%;
    width: 33.33%;
    background-color: black;
    position: fixed;
    text-align: center;
    padding: 15% 0%;
    font-size: 15rem;
}

/* 7 try-agains */

.try-again {
    display: none;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
}

.try-again-1 {
    display: none;
    margin: 15% 0%;
}

.try-again-1 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-1 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-2 {
    display: none;
    margin: 20% 0%;
}

.try-again-2 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-2 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-3 {
    display: none;
    margin: 20% 0%;
}

.try-again-3 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-3 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-4 {
    display: none;
    margin: 20% 0%;
}

.try-again-4 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-4 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-5 {
    display: none;
    margin: 20% 0%;
}

.try-again-5 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-5 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-6 {
    display: none;
    margin: 15% 0%;
}

.try-again-6 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-6 p {
    font-size: 1.5rem;
    margin: 3% 0;
}

.try-again-6 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}


.try-again-7 {
    display: none;
    margin: 15% 0%;
}

.try-again-7 h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.try-again-7 a {
    border-radius: 2rem;
    border: .3rem solid rgb(255, 166, 0);
    color: white;
    text-decoration: none;
    padding: 1rem 6rem;
    background-color: black;
}

/* Finish */

.ended {
    background-color: white;
    display: none;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.ended h1 {
    margin: 1rem 0;
    font-size: 5rem;
}

.ended h2 {
    margin: 1rem 0;
    font-size: 3rem;
}

.ended h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.ended a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1rem 3rem;
    margin: 0rem 8rem;
    border: .4rem solid salmon;
    border-radius: 2rem;
}